
.main{
    width: 100%;
    padding-left: 44px;
    padding-top: 20px;
}
.head{
    text-align: left;
    padding: 0 20px 0 20px;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: 600;
    color: #4d4d4d;
    background-color: #ffffff;
}
.left-right{
  
    width: 100%;
    height: 100vh;
    gap: 100px;
   
}
.left-right h2{
    text-align: left;
    padding: 0 20px 0 20px;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: 500;
    color: #4d4d4d;
    background-color: #ffffff;
}
.imageContainer {
    position: sticky;
}


.imageContainer:hover .content {
opacity: 1;
visibility: visible;
}

.left{
    width: 40%;
    height:400px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0px;
    padding-left: 20px;
    gap: 5px;
    cursor: pointer;
    /* position: absolute; */
    margin-top:15px;
    /* margin-right:2px; */
}
.left p{
    position: absolute;
    text-align: center;
    z-index: 10;
    display: inline-block;
    
    top: 73%;
    right: 30px;
    /* margin-right: 100px;
    
    left: 0px;
    right: 0px;
    bottom: 0px; */
    font-size: 16px;
    color: #ffffff;
    font-weight:500;
   
    
}
.left div:nth-child(6) p{
   /* border: 1px solid black; */
    margin-top:-12px;
}
.right h3{
    font-size:15px;
    font-weight:500;
    margin-top:10px;
    margin-bottom:20px;
}
.right h1{
    font-size:20px;
    font-weight:500;
    color:#54D386;
    margin-bottom:10px;
}
.left img{
    /* border: 1px solid black; */
    position: sticky;
}
.left div{
    width: 195px;
    height: 195px;
    position: relative;
    /* border: 1px solid black; */
    /* z-index: 1; */
    
    background-color: #E1BB23;

}
.both{
    display:flex;
    gap:130px;
    /* border: 1px solid black; */
    /* height:70%; */
}
.right{
width:40%;
height:5%;
display: flex;
/* border: 1px solid black; */
padding:0px 20px;
margin:20px 0px;
border-radius:40px;
}
.content{
/* border:1px solid red; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top:-195px;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.0s;
    :hover{
        opacity: 1;
    }
}
.content span{
    /* text-align: center; */
    color: white;
    font-size: 14px;
    margin-bottom: 65px;
}




@media (max-width: 768px) {
    .main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .left-right {
        display: block;
    }

    .left {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Display two columns */
        gap: 20px;
    }

    .left div {
        width: 100%; /* Each div should take the full width */
    }

    .right {
        /* width: 100%;
        height:50px;
        padding: 20px;
        margin-top: 20px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; */
        visibility:hidden;
    }
    .both{
        display:flex;
        flex-direction: column;
    }
}

@media (max-width: 460px) {
.main {
  padding-left: 20px;
  padding-right: 20px;
}

.left-right {
  display: block;
}

.left {
  /* Change the grid-template-columns to a single column */
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.left div {
  /* Remove margin-top to stack the divs vertically */
  margin-top: 0;
}

.right {
    visibility:hidden;    }

.both {
  display: flex;
  flex-direction: column;
}
}
   